@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');

.course-wrapper {
  @apply bg-blue-130 h-screen flex items-center justify-center font-mulish;

  &__content {
    @apply bg-white rounded-3xl p-10 relative;

    width: 367px;
    height: 714px;
    box-shadow: 0px 12px 1px -5px #CDDAF3;
    
    &-img {
      @apply opacity-80;

      border-radius: 20px;
      margin-bottom: 30px;
      box-shadow: 0px 17px 17px -10px rgba(110, 107, 255, 0.4);
    }

    &-round {
      @apply absolute rounded-full flex justify-center items-center bg-transparent-100;

      width: 66px;
      height: 66px;
      top: 13%;
      left: 40%;

      .vector {
        width: 24px;
        height: 30px;
      }
    }

    &-price {
      @apply flex;

      gap: 10px;
      margin-bottom: 30px;

      .left {
        @apply flex flex-col;

        &-top {
          @apply text-gray-120 text-sm line-through font-semibold;
        }

        &-bottom {
          @apply text-black-120 font-bold;

          font-size: 22px;
        }
      }

      .right {
        @apply mt-auto bg-green-120 text-sm text-white font-bold;
        
        width: 73px;
        padding: 5px 10px;
        border-radius: 20px;
      }
    }

    &-buttons {
      @apply flex flex-col mb-14;

      .item {
        @apply bg-blue-140 font-semibold text-base text-white;

        box-shadow: 0px 4px 0px #3d3ae3;
        height: 55px;
        border-radius: 5px;
        margin-bottom: 15px;

        &:hover {
          @apply shadow-none bg-blue-150 text-blue-140 transition-all;
        }
      }

      .text {
        @apply text-center text-gray-120 font-semibold text-sm;
      }
    }

    &-footer {
      .title {
        @apply text-black-120 text-lg;
      }

      .list {
        @apply list-disc text-black-120 font-medium leading-5;
      }
    }
  }
}